.poker-cards {
    max-width: 35rem;
}

.poker-card {
    height: 100px;
    max-width: 60px;
    margin: 1rem 0.5rem;

    &.active {
        background-color: silver;
    }
    &:hover {
        cursor: pointer;
    }
}